<% if params[:opt] == StockingType::RECEVING  || params[:opt].nil? %>
<h4>入库明细</h4>
<%= link_to '新建入库信息', new_stock_path(opt: StockingType::RECEVING), class:'btn btn-primary' %>
<% else %>
<h4>出库明细</h4>
<%= link_to '新建出库信息', new_stock_path(opt: StockingType::SHIPPING), class:'btn btn-primary' %>
<% end %>
<hr />
<table class="table table-bordered">
  <thead>
    <tr>
      <th>编号</th>
      <th>商品名称</th>
      <th>出入库类型</th>
      <th>仓库</th>
      <th>单价</th>
      <th>数量</th>
      <th>金额</th>
      <th>日期</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.code %></td>
        <td><%= stock.commodity_id %></td>
        <td><%= stock.stock_type_id %></td>
        <td><%= stock.warehouse_id %></td>
        <td><%= stock.price %></td>
        <td><%= stock.quantity %></td>
        <td><%= stock.sum %></td>
        <td><%= stock.summary %></td>
        <td><%= stock.s_date %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock) %>
        <%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

