<h4>用户信息</h4>
<%= form_tag(users_path, :method => "get", id: "search-form",class: "form-inline") do %>
  <div class="form-group">
  <%= text_field_tag :search, params[:search], placeholder: "搜索关键字", class: 'form-control' %>
  <%= submit_tag "查询", class:'btn btn-warning' %></div>
  <%= link_to '新建', new_user_path, class:'btn btn-primary' %>
<% end %>

<hr />
<table class="table table-bordered">
  <thead>
    <tr>
      <th>名称</th>
      <th>email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to '编辑', edit_user_path(user) %>
        <%= link_to '删除', user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

