<% if params[:opt] == StockingType::RECEVING  || params[:opt].nil? %>
<h4>入库明细</h4>
<%= link_to '新建入库信息', new_document_path(opt: StockingType::RECEVING), class:'btn btn-primary' %>
<% else %>
<h4>出库明细</h4>
<%= link_to '新建出库信息', new_document_path(opt: StockingType::SHIPPING), class:'btn btn-primary' %>
<% end %>

<hr />
<table class="table table-bordered">
  <thead>
    <tr>
      <th>单据编号</th>
      <th>单据类型</th>
      <th>仓库</th>
      <th>日期</th>
      <th>经手人</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.number %></td>
        <td><%= StockType.find(document.stock_type_id).name %></td>
        <td><%= Warehouse.find(document.warehouse_id).name if Warehouse.where(id: document.warehouse_id).first.present? %></td>
        <td><%= document.d_date.strftime("%Y-%m-%d") %></td>
        <td><%= Staff.find(document.staff_id).name %></td>
        <td><%= link_to '详情', document_path(document) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate(@documents) %>

