<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @document.number %>
</p>

<p>
  <strong>Stock type:</strong>
  <%= @document.stock_type_id %>
</p>

<p>
  <strong>Warehouse:</strong>
  <%= @document.warehouse_id %>
</p>

<p>
  <strong>D date:</strong>
  <%= @document.d_date %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @document.staff_id %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @document.summary %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
