<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="login-image">
      <%= image_tag("logo.jpeg", width: '100') %></div>
    <div class="panel panel-default" style="margin-top:50px">

      <div class="panel-heading">
        <h3 class="panel-title">用户登录</h3> 
      </div>
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.input :email, required: false, autofocus: true, input_html: { class: 'form-control'} %>
         
            <%= f.input :password, required: false, label:'密码', input_html: { class: 'form-control'} %></div>
          <!--<div class="form-group">
            <%= f.input :remember_me, input_html: { class: 'form-control'}, as: :boolean if devise_mapping.rememberable? %>
          </div>-->
        
          <div class="form-group">
            <%= f.button :submit, "登录", class:'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

