<h4>商品库存信息</h4>
<%= form_tag(commodity_warehouse_relationships_path, :method => "get", id: "search-form",class: "form-inline") do %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], placeholder: "商品关键字", class: 'form-control' %>
    <%= submit_tag "查询", class:'btn btn-warning' %>
  </div>
<% end %>


<hr />

<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名称</th>
      <th>编码</th>
      <th>类型</th>
      <th>条码</th>
      <th>规格型号</th>
      <th>计量单位</th>
      <th>仓库</th>
      <th>库存</th>
    </tr>
  </thead>

  <tbody>
    <% @cws.each do |cw| %>
      <tr>
        <td><%= cw.commodity.name %></td>
        <td><%= cw.commodity.code %></td>
        <td><%= CommodityType.find(cw.commodity.commodity_type_id).name %></td>
        <td><%= cw.commodity.bar_code %></td>
        <td><%= cw.commodity.specification %></td>
        <td><%= cw.commodity.unit %></td>
        <td><%= cw.warehouse.name %></td>
        <td><%= cw.stock_quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

