<%= simple_form_for(@commodity) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, input_html: { class: 'form-control'}, label: '名称' %>
  </div>
  <div class="form-group">
    <%= f.input :code, input_html: { class: 'form-control'}, label: '编码' %>
  </div>
  <div class="form-group">
    <%= f.association :commodity_type, input_html: { class: 'form-control'}, label: '商品分类', include_blank:false  %>
  </div>
  <div class="form-group">
    <%= f.input :bar_code, input_html: { class: 'form-control'}, label: '条码' %>
  </div>
  <% if @commodity.bar_code.present? %>
  <div id="print-data" style="text-align: left">
  <div id="commodity-bar-code"></div>库存管理系统</div><br/>
  <a href="#" id="barcodePrint">打印</a>
  <br/>
 
  <% end %>
  <div class="form-group">
    <%= f.input :specification, input_html: { class: 'form-control'}, label: '规格型号' %>
  </div>
  <div class="form-group">
    <%= f.input :unit, input_html: { class: 'form-control'}, label: '计量单位' %>
  </div>
  <div class="form-group">
    <%= f.input :cost, input_html: { class: 'form-control'}, label: '入库价' %>
  </div>
  <div class="form-group">
    <%= f.input :sale, input_html: { class: 'form-control'}, label: '出库价' %>
  </div>
  <div class="form-group">
    <%= f.input :low_stock, input_html: { class: 'form-control'}, label: '最低库存数量' %>
  </div>
  <div class="form-group">
    <%= f.input :high_stock, input_html: { class: 'form-control'}, label: '最高库存数量' %>
  </div>
  <div class="form-group">
    <%= f.submit '保存', class: 'btn btn-primary' %>
    <%= link_to '返回', commodities_path %>
  </div>
<% end %>
<script type="text/javascript">
$(document).ready(function(){  
  var bc = $("#commodity_bar_code").val()
  
  $("#commodity-bar-code").barcode(bc, "code39");
  $("#barcodePrint").click(function() {

    $("#print-data").print();
    return (false);
  });
});

</script>
