<h4>商品信息</h4>

<%= link_to '新建', new_commodity_path, class:'btn btn-primary' %>
<hr />
<table class="table table-bordered">
  <thead>
    <tr>
      <th>名称</th>
      <th>编码</th>
      <th>类型</th>
      <th>条码</th>
      <th>规格型号</th>
      <th>计量单位</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @commodities.each do |commodity| %>
      <tr>
        <td><%= commodity.name %></td>
        <td><%= commodity.code %></td>
        <td><%= commodity.commodity_type_id %></td>
        <td><%= commodity.bar_code %></td>
        <td><%= commodity.specification %></td>
        <td><%= commodity.unit %></td>
        <td><%= link_to '编辑', edit_commodity_path(commodity) %>
        <%= link_to '删除', commodity, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

